#ReceiptBox {
    clear:left;
    float:left;
    width:200px;
    height:250px;
    background-color:lightgray;
    border:solid;
    border-width:1px;
}
.textclass {
    text-align:center;
    float:left;
    clear:left;
}
#OkButton {

    float:left;
    clear:left;
}
#TextLabel {
    clear:left;
    float:left;

   
}
#ValueTextBox {
    float:left;
    clear:left;
}
#KrLabel {
    float:left;
}
#TitelLabel {

    font-size:30px;
    font-weight: bold;
}
#SmallLabel {

    font-size:x-small;
}
